.marquee {
    width: 100vw;
    overflow: hidden;
    position: relative;
    height: 50px; 
}

.marquee-mobile {
    width: 200vw;
    overflow: hidden;
    position: relative;
    height: 50px; 
}

p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;

    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%); 
    transform:translateX(100%);

    -moz-animation: marquee 30s linear infinite;
    -webkit-animation: marquee 30s linear infinite;
    animation: marquee 30s linear infinite;
}

@-moz-keyframes marquee {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
    0%   { 
        -moz-transform: translateX(100%); 
        -webkit-transform: translateX(100%); 
        transform:translateX(100%);        
    }
    100% { 
        -moz-transform: translateX(-100%); 
        -webkit-transform: translateX(-100%); 
        transform:translateX(-100%); 
    }
}